# ------------------------------------------------------------------------------
# Entries specific to this repository.


.vscode/
tmp/


# ------------------------------------------------------------------------------
# Sourced from: https://github.com/github/gitignore/blob/main/Global/Ansible.gitignore


*.retry
